*{
    box-sizing: border-box;
}

body{
    margin:0;
    font-family: sans-serif;
    background-color:#dbebfa;
}

header{
    overflow: hidden;
}

img{
   /* todas las imagenes no desbordan su contenedor*/
}

 /*.main{
    display:grid;} */ /* estilo de movil con una columna*/


/*par acuando es de escritorio necesito mas de una columna
.main{}
{
    grid-template-columns: min-content 1fr;
} */
.main{
    /* width:90%; */
    /* height:500px; */
    /* margin:200px auto; */
    /* text-align: center; */
}
.container{
    background-color:#dbebfa;
    border-radius: 16px;
    margin: 0.5em;
    padding: 0.5em 2em;
    box-shadow: 5px 5px 10px #0005;
    color:#00334e;
    line-height: 1.5;
}
.navbar{
    padding: 0.5em 1em 0 1em;
    background-color:#004d73;
    position: fixed;
    z-index: 1;
    height:4em;
    width: 100%;
}
/*dentro del header(up)*/
    .box-logo-ap{
        position:relative;
        padding: 0.2em;
        width: 13em;
        bottom:0.2em;

    }
    .box-redes{
        position: absolute;
        padding: 0.2em;
        width: 18em;
        bottom: 0.5em;
        right: 0;
        /* border: 1px solid rgb(43, 255, 0); */
    }

    .iconoAP{
        position:relative;
        width: 6.8em;
        bottom:0.7em;
    }

    .redes{
        margin: 0.1em;
        padding: 0.2em;
        width: 2em;
    }
    .redes:hover{
        box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.712);       
    }

    .login{
        position:relative;
        background-color: #007fbd;
        color:#fff;
        -webkit-text-decoration-line: none;
                text-decoration-line: none;
        padding:0.6em 1.3em;
        border-radius: 0.5em;
        font-size: 0.9rem;
        bottom: 0.85em;
        box-shadow: 5px 5px 10px #0004;
        margin: 0.1em;
    }

    .yoprogramo{
        position:absolute;
        top: 0.1em;
        left: 7em;
        color:#fff;
        font-size: 1rem;
    }

.banner{
    height: 30em;
    background-image:url("/assets/img/puntos luces2.jpg");
    text-align: center;
    color: #004d73;
}


.text_banner{
    height: 10em;
    text-align: center;
    padding:10em 0;

}

.title{
    letter-spacing: 0.4rem;
    font-size: 3.5rem;
}

.subtitle{
    letter-spacing: 0.3rem;
    font-size: 2rem;
}


.img_foto{
    position: relative;
    border-radius:100%;
    width: 100%;
    border: 4px double #dbebfa;
}

.box_foto{
    width:26%;
    position:absolute;
    transform: translate(-10%, -50%);
    /* border: 1px solid red; */
}

.box_tome{
    position:relative;
    width: auto;
    margin-left: 32%;
    /* border: 1px solid red; */
}





/* .img{} */