*{
     width: 95%;     /* width: ANCHO */
    margin: auto;   /* margin: MARGEN, PUEDE TENER DE UNO A CUATRO VALORES QUE SE ASIGNAN EN LOS SENTIDOS DE LAS AGUJAS DEL RELOJ */
    padding: .5%;   /* padding: DESPLAZAMIENTO INTERNO DEL ELEMENTO QUE ESTEMOS TRATANDO DE ORDENAR */
     /* #ffe0e0*/
}                   /* % REM Y EM SE AJUSTAN A CUALQUIER DISPOSITIVO */

#banner {
    height: 400px; /* alto del banner */
    padding-top: 150px; 
    color:blueviolet; /* color del banner */
    background-image: url(""); /* imagen del banner */
    background-position: center; 
    background-size: cover; 
}


.userpicture {
    border-radius: 50%;
} 

.titulo{
    color: #9c5a5afa;
    font-size: 5rem;
    text-align: center;
}

a{
    text-decoration: none;
}

p {
    
    line-height: 180%; /* alto de la linea*/
    font-weight: 100; /* ancho de la fuenta*/
}
.red1 {
    float: left;
}

.red2 {
    float: center;
}

.red3 {
    float: right;
}

.icono{
   /* height: 55%; altura*/
    width: 8%;
    float: left;
    
}

.tarjeta{
    width: 20%;
    float: center;
    text-align: center;
}

body {
    background-color:rgba(233, 170, 244, 0.173);
}

/*container-fluid */
