/*
*{
     width: 95%;     /* width: ANCHO
    margin: auto;   /* margin: MARGEN, PUEDE TENER DE UNO A CUATRO VALORES QUE SE ASIGNAN EN LOS SENTIDOS DE LAS AGUJAS DEL RELOJ
    padding: .5%;   /* padding: DESPLAZAMIENTO INTERNO DEL ELEMENTO QUE ESTEMOS TRATANDO DE ORDENAR
     /* #ffe0e0
}                   /* % REM Y EM SE AJUSTAN A CUALQUIER DISPOSITIVO
*/

*{
    box-sizing: border-box;
}

body{
    margin:0;
}

header{
    overflow: hidden;
}

.header-1{
    background-color: rgb(185, 185, 185);
    position: fixed;
    height:3em;
    width: 100%;
}
/*dentro del header(up)*/
    .box-logo-ap{
        width: 5em;
        height:3em;
        position:relative;
        /* background-color: aquamarine; */
    }

    .box-redes{

        height:2.5em;
        position: absolute;
        /* background-color: royalblue; */
        bottom:0;
        right: 0;  
    }

.banner{
    margin-top:3em;
    background-color: rgb(133, 239, 172);
}

.iconoAP{
    height:3em;
}

.iconos{
    height:2em;

}

.container{
    background-color: lightpink;
}



.accesored{
    width: 1.2em;
}

.link{
    margin-bottom: 2em;
    background-color: blueviolet;
    color:#222;
    padding:0.5em 1em;
    border-radius: 0.5em;
    font-size: 1rem;

}