/*
*{
     width: 95%;     /* width: ANCHO
    margin: auto;   /* margin: MARGEN, PUEDE TENER DE UNO A CUATRO VALORES QUE SE ASIGNAN EN LOS SENTIDOS DE LAS AGUJAS DEL RELOJ
    padding: .5%;   /* padding: DESPLAZAMIENTO INTERNO DEL ELEMENTO QUE ESTEMOS TRATANDO DE ORDENAR
     /* #ffe0e0
}                   /* % REM Y EM SE AJUSTAN A CUALQUIER DISPOSITIVO
*/

*{
    box-sizing: border-box;
}

body{
    margin:0;
    font-family: sans-serif;
    background-color:#dbebfa;
}

header{
    overflow: hidden;
}

/* h2{
    margin:0;
} */

.navbar{
    padding: 0.5em 1em 0 1em;
    background-color:#004d73;
    position: fixed;
    z-index: 1;
    height:4em;
    width: 100%;
}
/*dentro del header(up)*/
    .box-logo-ap{
        /* height:3em; */
        position:relative;
        padding: 0.2em;
        width: 13em;
        bottom:0.2em;

    }
    .box-redes{
        /* height:3em; */
        position: absolute;
        padding: 0.2em;
        width: 18em;
        bottom: 0.5em;
        right: 0;
        /* border: 1px solid rgb(43, 255, 0); */
    }

    .iconoAP{
        position:relative;
        width: 6.8em;
        /* height:3.5em; */
        bottom:0.7em; 
    }

    .redes{
        margin: 0.1em;
        padding: 0.2em;
        width: 2em;
        box-shadow: 5px 5px 10px #0004;
    }

    .login{
        position:relative;
        background-color: #007fbd;
        color:#fff;
        -webkit-text-decoration-line: none;
                text-decoration-line: none;
        padding:0.6em 1.3em;
        border-radius: 0.5em;
        font-size: 0.9rem;
        bottom: 0.85em;
        box-shadow: 5px 5px 10px #0004;
        margin: 0.1em;
    }

    .yoprogramo{
        position:absolute;
        top: 0.1em;
        left: 7em;
        color:#fff;
        font-size: 1rem;
    }

.banner{
    position: relative;
    height: 28em;
}

.fondo_banner{
    width: 100%;
    height:28em;
    /* border-radius: 16px; */
    border: 1px double #ddd;

}

.text_banner{
    position:relative;
    text-align: center;
    color: #004d73;
    /* margin-top: -11em; */
    font-size: 2rem;
    border: 1px solid red !important;
    bottom: 10em;
}

/* 
.img_banner{
    height:20em;
} */


.img_foto{
    position: relative;
    border-radius:100%;
    /* top: 0vh; */
    width: 100%;
    /* height:16em; */
    border: 4px double #dbebfa;
}

.box_foto{
    width:26%;
    position:absolute;
    /* top:60vh; */
    /* left: 1em; */
    /* border: 1px solid red; */
    transform: translate(-10%, -50%);
}

.box_tome{
    position:relative;
    width: auto;
    margin-left: 32%;
    /* height: min-content; */
    /* top: 20em;  */
    /* left: 0 ; */
    /* border: 1px solid red; */
}

.container{
    background-color:#dbebfa;
    border-radius: 16px;
    margin: 0.5em;
    padding: 0.5em 2em;
    /* border: 1px outset #ddd; */
    box-shadow: inset -2px -2px 3px 0 #666;
    /* border: 1px solid red; */
    box-shadow: 5px 5px 10px #0005;
    color:#00334e;
    line-height: 1.5;
}


/* .img{} */